<h3 class="ui header">{{t "forms.i-i-s-dlya-generacii-доп-услуги-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.услуга
      class=(if (v-get validationModel "услуга" "isInvalid") "error")
      label=(t "forms.i-i-s-dlya-generacii-доп-услуги-e.услуга-caption")
      data-test-i-i-s-dlya-generacii-доп-услуги-e-услуга=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "услуга" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.описУслуги
      class=(if (v-get validationModel "описУслуги" "isInvalid") "error")
      label=(t "forms.i-i-s-dlya-generacii-доп-услуги-e.описУслуги-caption")
      data-test-i-i-s-dlya-generacii-доп-услуги-e-описУслуги=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "описУслуги" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.стоимость
      class=(if (v-get validationModel "стоимость" "isInvalid") "error")
      label=(t "forms.i-i-s-dlya-generacii-доп-услуги-e.стоимость-caption")
      data-test-i-i-s-dlya-generacii-доп-услуги-e-стоимость=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "стоимость" "message")}}
  </div>
</form>
